*{
    box-sizing: border-box;    
}

body{
    margin: 0;
    font-family: verdana;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;  
}

.video-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    overflow: hidden;    
}

.fullscreen-video video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    opacity: 0.70 ;

}

.header-content{
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p1{
    font-size: 1.5rem;
    display: block;
    padding: 2rem;
}

.btn{
    background: black;
    color: white;
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
    text-decoration: none;
    border-radius: 10px;
}

@media(max-width:960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.section{
    margin-top: 30px;
    overflow: hidden;
    padding: 20px 0;
}

.section-b{
    background: #333;
    color: #fff;
}

.topNav-home{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    font-family: verdana;
}

.topNav{
    top: 0;
    width: 100%;
    z-index: 2;
    font-family: verdana;
}

.topNav ul{
/*   display: inline-block;*/
}

.topNav ul li, .topNav-home ul li{
	float:left;
    display:block;
    color:#b3b3cc;
	text-align:center;
    padding:0.2rem 80px;
	text-decoration:none;       
}

.topNav ul li:hover, .topNav-home ul li:hover{
background: #666;
text-decoration: underline;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child{
    border-right: none;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#search-nav{
    float: left;
    padding-left: 80px;
    padding-top: 20px;
}

#tb{
    height: 30px;
    font-family: verdana;
}

.footer{
    display: block;
    clear: both;
    text-align: center;
    color: white;
    background: black;
    padding: 20px;
}
